In [17]:
import sqlite3
#conn = sqlite3.connect('flightdelay.db')

In [18]:
import pandas as pd
# load the data into a Pandas DataFrame
#users = pd.read_csv('app/L_UNIQUE_CARRIERS.csv')

#users.to_sql('carrierdata', conn, if_exists='append', index = False)

In [20]:
conn = sqlite3.connect('app/flightdelay.db')
query = "SELECT * FROM delaydata dd left join carrierdata cd on dd.MKT_UNIQUE_CARRIER = cd.Code"
df = pd.read_sql(query, conn)
conn.close()

In [21]:
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_AIRLINE_ID,MKT_CARRIER,MKT_CARRIER_FL_NUM,...,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 60,Code,Description
0,2021,1,2,13,6,2021-02-13,NK,20416,NK,533,...,1.0,1590.0,0.0,0.0,4.0,0.0,115.0,None,NK,Spirit Air Lines
1,2021,1,2,13,6,2021-02-13,NK,20416,NK,533,...,1.0,1590.0,0.0,0.0,4.0,0.0,115.0,None,NK,Spirit Air Lines
2,2021,2,4,16,5,2021-04-16,DL,19790,DL,393,...,1.0,946.0,0.0,98.0,19.0,0.0,0.0,None,DL,Delta Air Lines Inc.
3,2021,2,4,16,5,2021-04-16,DL,19790,DL,393,...,1.0,946.0,0.0,98.0,19.0,0.0,0.0,None,DL,Delta Air Lines Inc.
4,2021,2,4,18,7,2021-04-18,F9,20436,F9,2539,...,1.0,1277.0,NaN,NaN,NaN,NaN,NaN,None,F9,Frontier Airlines Inc.

In [22]:
deptgroup = df.groupby(["ORIGIN"])

CarrierDelaySum = deptgroup["CARRIER_DELAY"].sum()
WeatherDelaySum = deptgroup["WEATHER_DELAY"].sum()
NASDelaySum = deptgroup["NAS_DELAY"].sum()
SecurityDelaySum = deptgroup["SECURITY_DELAY"].sum()
LateAircraftDelaySum = deptgroup["LATE_AIRCRAFT_DELAY"].sum()

DeptDelayReasonSummary = pd.DataFrame({
    "SumCarrierDelay": CarrierDelaySum,
    "SumWeatherDelay": WeatherDelaySum,
    "SumNASDelay": NASDelaySum,
    "SumLateAircraftDelay": LateAircraftDelaySum
})

DeptDelayReasonSummary.reset_index()

,ORIGIN,SumCarrierDelay,SumWeatherDelay,SumNASDelay,SumLateAircraftDelay
0,ABE,2022.0,58.0,636.0,1448.0
1,ABI,816.0,46.0,1436.0,352.0
2,ABQ,3412.0,218.0,1800.0,1822.0
3,ABR,974.0,0.0,0.0,0.0
4,ABY,88.0,38.0,10.0,140.0
...,...,...,...,...,...
360,XNA,1662.0,74.0,1602.0,1222.0
361,XWA,0.0,170.0,0.0,0.0
362,YAK,184.0,0.0,108.0,164.0
363,YKM,590.0,30.0,8.0,88.0
364,YUM,1408.0,0.0,278.0,360.0

In [29]:
averagedelayairport = airlinesgroup.groupby(["ORIGIN"]).aggregate({"DEP_DELAY":['mean']}).reset_index()
averagedelayairport

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_AIRLINE_ID,MKT_CARRIER,MKT_CARRIER_FL_NUM,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 60
0,2021,1,2,13,6,2021-02-13,NK,20416,NK,533,...,252.0,216.0,1.0,1590.0,0.0,0.0,4.0,0.0,115.0,None
1,2021,2,4,16,5,2021-04-16,DL,19790,DL,393,...,190.0,135.0,1.0,946.0,0.0,98.0,19.0,0.0,0.0,None
2,2021,2,4,18,7,2021-04-18,F9,20436,F9,2539,...,206.0,186.0,1.0,1277.0,NaN,NaN,NaN,NaN,NaN,None
3,2021,1,2,13,6,2021-02-13,AA,19805,AA,2772,...,230.0,205.0,1.0,1685.0,NaN,NaN,NaN,NaN,NaN,None
4,2021,1,3,18,4,2021-03-18,WN,19393,WN,2057,...,75.0,55.0,1.0,365.0,6.0,0.0,0.0,0.0,16.0,None
5,2021,1,2,15,1,2021-02-15,AA,19805,AA,776,...,215.0,190.0,1.0,1235.0,0.0,47.0,7.0,0.0,0.0,None
6,2020,4,12,27,7,2020-12-27,AA,19805,AA,2829,...,188.0,167.0,1.0,1067.0,NaN,NaN,NaN,NaN,NaN,None
7,2021,2,4,15,4,2021-04-15,AS,19930,AS,860,...,327.0,304.0,1.0,2640.0,30.0,0.0,0.0,0.0,0.0,None
8,2020,4,12,18,5,2020-12-18,DL,19790,DL,1560,...,92.0,62.0,1.0,432.0,31.0,0.0,0.0,0.0,0.0,None
9,2021,1,3,27,6,2021-03-27,WN,19393,WN,2501,...,73.0,55.0,1.0,271.0,16.0,0.0,0.0,0.0,0.0,None
10,2021,2,4,20,2,2021-04-20,B6,20409,B6,2269,...,197.0,178.0,1.0,1237.0,44.0,0.0,0.0,0.0,49.0,None
11,2021,2,4,19,1,2021-04-19,UA,19977,UA,583,...,148.0,120.0,1.0,937.0,NaN,NaN,NaN,NaN,NaN,None
12,2020,4,12,2,3,2020-12-02,AS,19930,AS,47,...,NaN,NaN,1.0,253.0,NaN,NaN,NaN,NaN,NaN,None
13,2021,1,2,22,1,2021-02-22,WN,19393,WN,3276,...,246.0,231.0,1.0,1797.0,NaN,NaN,NaN,NaN,NaN,None
14,2021,1,1,25,1,2021-01-25,AS,19930,AS,2379,...,72.0,46.0,1.0,224.0,NaN,NaN,NaN,NaN,NaN,None
15,2021,1,1,3,7,2021-01-03,UA,19977,UA,1417,...,85.0,63.0,1.0,404.0,NaN,NaN,NaN,NaN,NaN,None
16,2021,2,4,11,7,2021-04-11,AA,19805,AA,1780,...,148.0,122.0,1.0,1055.0,40.0,0.0,0.0,0.0,0.0,None
17,2020,4,12,23,3,2020-12-23,WN,19393,WN,1474,...,155.0,139.0,1.0,1189.0,NaN,NaN,NaN,NaN,NaN,None
18,2020,4,12,28,1,2020-12-28,DL,19790,DL,3509,...,94.0,77.0,1.0,456.0,0.0,72.0,0.0,0.0,0.0,None
19,2021,1,3,12,5,2021-03-12,WN,19393,WN,626,...,61.0,46.0,1.0,272.0,35.0,0.0,0.0,0.0,1.0,None
20,2021,1,3,30,2,2021-03-30,AA,19805,AA,5697,...,111.0,74.0,1.0,481.0,0.0,0.0,7.0,0.0,36.0,None
21,2020,4,12,4,5,2020-12-04,UA,19977,UA,238,...,144.0,122.0,1.0,977.0,NaN,NaN,NaN,NaN,NaN,None
24,2021,1,2,4,4,2021-02-04,UA,19977,UA,357,...,218.0,175.0,1.0,1197.0,0.0,0.0,123.0,0.0,0.0,None
28,2021,2,4,23,5,2021-04-23,HA,19690,HA,268,...,49.0,29.0,1.0,163.0,19.0,0.0,0.0,0.0,0.0,None
31,2021,1,1,23,6,2021-01-23,UA,19977,UA,5396,...,186.0,156.0,1.0,1440.0,NaN,NaN,NaN,NaN,NaN,None
32,2021,1,2,27,6,2021-02-27,B6,20409,B6,399,...,153.0,129.0,1.0,950.0,NaN,NaN,NaN,NaN,NaN,None
35,2021,1,1,2,6,2021-01-02,AS,19930,AS,900,...,50.0,32.0,1.0,129.0,NaN,NaN,NaN,NaN,NaN,None
36,2021,1,2,15,1,2021-02-15,DL,19790,DL,4796,...,138.0,79.0,1.0,529.0,0.0,0.0,31.0,0.0,0.0,None
38,2021,1,3,27,6,2021-03-27,NK,20416,NK,417,...,177.0,156.0,1.0,1127.0,NaN,NaN,NaN,NaN,NaN,None
42,2021,1,3,30,2,2021-03-30,F9,20436,F9,110,...,243.0,224.0,1.0,1576.0,NaN,NaN,NaN,NaN,NaN,None
43,2021,1,3,20,6,2021-03-20,AS,19930,AS,73,...,62.0,23.0,1.0,95.0,0.0,0.0,26.0,0.0,0.0,None
52,2021,1,2,20,6,2021-02-20,B6,20409,B6,192,...,160.0,146.0,1.0,1185.0,18.0,0.0,0.0,0.0,7.0,None
56,2021,1,1,10,7,2021-01-10,DL,19790,DL,3711,...,136.0,105.0,1.0,679.0,NaN,NaN,NaN,NaN,NaN,None
60,2021,1,3,6,6,2021-03-06,G4,20368,G4,599,...,94.0,73.0,1.0,477.0,0.0,0.0,3.0,0.0,20.0,None
68,2021,2,4,12,1,2021-04-12,HA,19690,HA,195,...,45.0,28.0,1.0,100.0,15.0,0.0,0.0,0.0,0.0,None
70,2021,2,4,18,7,2021-04-18,B6,20409,B6,1451,...,192.0,171.0,1.0,1121.0,NaN,NaN,NaN,NaN,NaN,None
73,2021,1,1,7,4,2021-01-07,NK,20416,NK,128,...,304.0,285.0,1.0,2329.0,0.0,0.0,6.0,48.0,0.0,None
75,2020,4,12,11,5,2020-12-11,F9,20436,F9,198,...,193.0,152.0,1.0,1337.0,10.0,0.0,12.0,0.0,0.0,None
80,2020,4,12,24,4,2020-12-24,NK,20416,NK,379,...,86.0,72.0,1.0,466.0,NaN,NaN,NaN,NaN,NaN,None
84,2021,1,3,28,7,2021-03-28,B6,20409,B6,2595,...,211.0,166.0,1.0,1085.0,7.0,0.0,17.0,0.0,0.0,None
113,2021,1,3,28,7,2021-03-28,NK,20416,NK,637,...,182.0,160.0,1.0,1084.0,0.0,0.0,54.0,0.0,0.0,None
123,2021,2,4,3,6,2021-04-03,F9,20436,F9,290,...,194.0,173.0,1.0,1506.0,NaN,NaN,NaN,NaN,NaN,None
128,2021,1,3,23,2,2021-03-23,F9,20436,F9,1446,...,161.0,131.0,1.0,1011.0,48.0,0.0,0.0,0.0,266.0,None
130,2021,2,4,2,5,2021-04-02,G4,20368,G4,2092,...,136.0,119.0,1.0,1009.0,2.0,0.0,3.0,0.0,303.0,None
240,2021,2,4,22,4,2021-04-22,G4,20368,G4,2019,...,145.0,126.0,1.0,856.0,8.0,0.0,13.0,0.0,3.0,None
273,2021,1,3,25,4,2021-03-25,G4,20368,G4,1333,...,186.0,164.0,1.0,1553.0,NaN,NaN,NaN,NaN,NaN,None
276,2021,1,1,23,6,2021-01-23,G4,20368,G4,1607,...,174.0,151.0,1.0,1143.0,NaN,NaN,NaN,NaN,NaN,None
334,2021,1,3,22,1,2021-03-22,HA,19690,HA,105,...,49.0,23.0,1.0,100.0,21.0,0.0,0.0,0.0,1.0,None
499,2021,2,4,3,6,2021-04-03,HA,19690,HA,530,...,40.0,20.0,1.0,84.0,47.0,0.0,0.0,0.0,0.0,None
534,2021,2,4,9,5,2021-04-09,HA,19690,HA,74,...,312.0,290.0,1.0,2603.0,NaN,NaN,NaN,NaN,NaN,None